@media all and (max-width: 1200px){
    .container{
        width: 90%;
    }
    .menu{
        margin-left: 0;
      }
}
@media all and (max-width: 991px){
    
   
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 50%;
    }
    .col-3 {
        width: 50%;
       
    }
    .col-2 {
        width: 33%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 1rem;
    }
    .mb-5 {
        margin-bottom: 10rem;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    h1 {
        font-size: 4.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    .header-text-area {
        margin-top: 10rem;
    }
    .header-img-area {
        height: 60rem;
        margin: auto;
        margin-top: 7rem;
    }
    .menu{
        display: none;
    }
    .menu-show-btn{
        display: block;
    }
  
}

@media all and (max-width: 767px){
    
    h1 {
        font-size: 4rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.8rem;
    }
    
}

@media all and (max-width:676px){
    h1 {
        font-size: 3.6rem;
        font-weight: 600;
    }
    h2 {
	    font-size: 2.4rem;
	    font-weight: 600;
    }
    h4{
        font-size: 1.6rem;
    }
    .col-4 {
	width: 100%;
    }
    .col-2 {
        width: 50%;
    }
    .col-8{
        width: 100%;
    }
    .services-heading h2:after, .work-heading h2:after, .about-heading h2:after, .client-heading h2:after, .contact-heading h2:after {
        
        left: 35%;
    }
}
@media all and (max-width:576px){
    h1 {
        font-size: 3.2rem;
        font-weight: 600;
    }
    h4{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .col-2 {
        width: 100%;
    }

    .col-3 {
	width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .services-heading h2:after, .work-heading h2:after, .about-heading h2:after, .client-heading h2:after, .contact-heading h2:after {
        
        left: 30%;
    }
}
@media all and (max-width:400px){
    h3 {
        font-size: 36px;
        font-size: 2.6rem;
        font-weight: 600;
    }
    .col-2 {
        width: 100%;
    }
    .services-heading h2:after, .work-heading h2:after, .about-heading h2:after, .client-heading h2:after, .contact-heading h2:after {
        left: 20%;  
    }
}
